




    <form action ="{%url 'comments:comment' post.pk %}" method="post" class="comment-form">
        {% csrf_token %}
        <div class="row">

            <!--评论内容输入框-->
           <div class="col-md-12">

                <label for="{{ form.text.id_for_label }}"></label>

               <div>
                {{ form.media }}
                {{ form.text }}
                </div>

            </div>

            <!--  提交按钮  -->
            <div class="col-md-4">
           <button type="submit" class="btn btn-primary">发表</button>
            </div>
        </div>
    </form>


