




     <ul class="list-group">

        <li class="list-group-item" style="box-shadow: 1px 1px 1px #888888;">
          <a href="/category_name" class="fas fa-archive"> 归档</a>
        </li>
      {% for date in date_list %}
        <li class="list-group-item" style="box-shadow: 1px 1px 1px #888888;">
          <a  href="{% url 'blog:archive' date.year date.month %}" style="color:#527BFF;">{{ date.year }} 年 {{ date.month }} 月
          </a>
        </li>
       {% empty %}
        暂无标签！
      {% endfor %}
    </ul>
